{% extends "@App/director_pages/index.html.twig" %}


{% block showUser %}

{% endblock %}

{% block navbar %}
     <li><a href="{{ path('redirect_pages') }}">Home</a></li>
    <li><a href="{{ path('manage_assistants') }}">Assistants</a></li>
    <li><a href="{{ path('student_performances') }}">Student Performances</a></li>
    <li><a href="{{ path('technical_problems') }}">Tech Problems</a></li>
    <li><a href="{{ path('applicants_show') }}">Applicants</a></li>
{% endblock %}

{% block page_title %}
    <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Information <small>Dorm Management System</small></h1>
{% endblock %}

{% block body %}

    <!-- Latest Users -->

    <div class="top-button-group">
        {# TODO ->>  this is a general show information  #}
        <a href="{{ back }}" class="button-style btn btn-warning top-button">Back</a>
    </div>

    <h3 class='title-application'> Member Information </h3>

    <div class="image_show col-md-12">

        <div class="personal-details">
            {% if person.image is empty %}
                <img alt="Profile picture" class="img img-thumbnail profile-img" src="{{ asset('assets/person_images/default.png' ) }}" />
            {% else %}
                <img alt="Profile picture" class="img img-thumbnail profile-img" src="{{ asset('assets/person_images/'~person.image ) }}" />
            {% endif %}
        </div>

        <div class="container-details">
            {#<h4  style="text-decoration-style: wavy; width:100% "> Personal Information</h4>#}
            <hr>
            <dl>
                <dt>Name</dt>
                <dd class="left_position">{{ person.name }}</dd>
                <dt>Surname</dt>
                <dd class="left_position">{{ person.surname }}</dd>
            </dl>
        </div>

    </div>

    {#  show details related to every person ( use the intern project ' show details page ')  #}
    <div class="space-maker col-md-12">


        <h3 class='title-application'> </h3>

        <div class="position_0" >
            <dl id="p_info">

                <dt id="shw">
                    <span class="middle_con"></span>
                    User mode
                </dt>
                <dd id="shw">
                    {{ person.type|upper }}
                </dd>

                <dt id="shw">
                    <span class="middle_con"></span>
                    Card Id
                </dt>
                <dd id="shw">
                    {{ person.cardId }}
                </dd>

                <dt id="shw">
                    <span class="middle_con"></span>
                    Email
                </dt>
                <dd id="shw">
                    {{ person.email }}
                </dd>



                <dt id="shw">
                    <span class="middle_con"></span>
                    Phone Nr.
                </dt>
                <dd id="shw">
                    {{ person.phoneNr }}
                </dd>


                <dt id="shw">
                    <span class="middle_con"></span>
                    Nationality
                </dt>
                <dd id="shw">
                    {{ person.nationality }}
                </dd>

                <dt id="shw">
                    <span class="middle_con"></span>
                    City
                </dt>
                <dd id="shw">
                    {{ person.city }}
                </dd>

                <dt id="shw">
                    <span class="middle_con"></span>
                    Birthday
                </dt>
                <dd id="shw">
                    {{ person.birthday }}
                </dd>

                <dt id="shw">
                    <span class="middle_con"></span>
                    Address
                </dt>
                <dd id="shw">
                    {{ person.address }}
                </dd>

                <dt id="shw">
                    <span class="middle_con"></span>
                    Department
                </dt>
                <dd id="shw">
                    {{ person.department }}
                </dd>

            </dl>
        </div>

    </div>

    <div>
        <h3 class='title-application'> Family Information </h3>

        <div class="position_0" >
            <dl id="p_info">

                <dt id="shw1">
                    <span class="middle_con1"></span>
                    Father's Name
                </dt>
                <dd id="shw1">
                    {% if person.fathersname is empty %}
                        <br>
                    {% else %}
                        {{ person.fathersname }}
                    {% endif %}
                </dd>


                <dt id="shw1">
                    <span class="middle_con1"></span>
                    Father's Surname
                </dt>
                <dd id="shw1">
                    {% if person.fatherssurname is empty %}
                        <br>
                    {% else %}
                        {{ person.fatherssurname }}
                    {% endif %}
                </dd>


                <dt id="shw1">
                    <span class="middle_con1"></span>
                    Father's Profession
                </dt>
                <dd id="shw1">
                    {% if person.fathersJob is empty %}
                        <br>
                    {% else %}
                        {{ person.fathersJob }}
                    {% endif %}
                </dd>



                <dt id="shw1">
                    <span class="middle_con1"></span>
                    Father's Profession
                </dt>
                <dd id="shw1">
                    {% if person.fathersphoneNr is empty %}
                        <br>
                    {% else %}
                        {{ person.fathersphoneNr }}
                    {% endif %}
                </dd>

            </dl>
        </div>

        <div class="position_0" >
            <dl id="p_info">

                <dt id="shw1">
                    <span class="middle_con1"></span>
                    Mother's Name
                </dt>
                <dd id="shw1">
                    {% if person.mothersname is empty %}
                        <br>
                    {% else %}
                        {{ person.mothersname }}
                    {% endif %}
                </dd>


                <dt id="shw1">
                    <span class="middle_con1"></span>
                    Mothers's Surname
                </dt>
                <dd id="shw1">
                    {% if person.motherssurname is empty %}
                        <br>
                    {% else %}
                        {{ person.motherssurname }}
                    {% endif %}
                </dd>


                <dt id="shw1">
                    <span class="middle_con1"></span>
                    Father's Profession
                </dt>
                <dd id="shw1">
                    {% if person.mothersJob is empty %}
                        <br>
                    {% else %}
                        {{ person.mothersJob }}
                    {% endif %}
                </dd>



                <dt id="shw1">
                    <span class="middle_con1"></span>
                    Father's Profession
                </dt>
                <dd id="shw1">
                    {% if person.mothersphoneNr is empty %}
                        <br>
                    {% else %}
                        {{ person.mothersphoneNr }}
                    {% endif %}
                </dd>

            </dl>


        </div>


        <div class="position_0" >
            <dl id="p_info">

                <dt id="shw1">
                    <span class="middle_con1"></span>
                    Parent Marital Status
                </dt>
                <dd id="shw1">
                    {% if person.parentMaritStatus is empty %}
                        <br>
                    {% else %}
                        {{ person.parentMaritStatus }}
                    {% endif %}
                </dd>
            </dl>
        </div>

    </div>



{% endblock %}































