{% extends "@App/director_pages/index.html.twig" %}

{% block showUser %}

{% endblock %}



{% block navbar %}
    <li><a href="{{ path('redirect_pages') }}">Home</a></li>
    <li><a href="{{ path('manage_assistants') }}">Assistants</a></li>
    <li><a href="{{ path('student_performances') }}">Student Performances</a></li>
    <li><a href="{{ path('technical_problems') }}">Tech Problems</a></li>
    <li><a href="{{ path('applicants_show') }}">Applicants</a></li>
    <li><a href="{{ path('director_show_profile') }}">Profile</a></li>

{% endblock %}



{% block breadcrumb %}

    <li>/<a href="{{ path('redirect_pages') }}">Director</a></li>
    <li class="active">/<a href="{{ path('dormitory_members') }}">Dormitory Members</a></li>

{% endblock %}


{% block left_group %}
    <a href="#" class="list-group-item active main-color-bg">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Manage
    </a>

    <a href="{{ path('applicants_show') }}" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Applicants <span class="badge">{{ applicants }}</span></a>
    <a href="{{ path('dormitory_members') }}" class="active list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Members <span class="badge">{{ members }}</span></a>
    <a href="{{ path('events_show') }}" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Events <span class="badge">{{ events }}</span></a>
    <a href="{{ path('camera_show') }}" class="list-group-item"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Entrance Security </a>

{% endblock %}



{% block page_title %}
    <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Dormitory Members <small>Dorm Management System</small></h1>
{% endblock %}


{% macro checkServerRegistration(input,id,available) %}

    {#<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>#}

    {% if available %}

        {% if input %}
            <a href="{{ path('send_images_to_server', {'mem_id':id }) }}" class="btn-form btn-sm btn-block btn-danger" data-toggle="tooltip" data-placement="left" title="Server is available" ><span class="fa fa-trash"></span>Remove</a>
        {% else %}
            <a href="{{ path('send_images_to_server', {'mem_id':id }) }}" class="btn-form btn-sm btn-block btn-success" data-toggle="tooltip" data-placement="left" title="Server is available"><span class="fa fa-check"></span>Save</a>
        {% endif %}

    {% else %}

        {% if input %}
            <a href="#" data-toggle="tooltip" data-placement="left" title="Server is not available!" class="disabled btn-form btn-sm btn-block btn-warning"><span class="fa fa-trash"></span>Remove</a>
        {% else %}
            <a href="#" data-toggle="tooltip" data-placement="left" title="Server is not available!" class="disabled btn-form btn-sm btn-block btn-warning"><span class="fa fa-check"></span>Save</a>
        {% endif %}

    {% endif %}

{% endmacro %}


{% block body %}

    {% import '@App/director_pages/members_show.html.twig' as mb %}

    <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Registered Staff</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Nr.</th>

                    <th>Actions</th>
                    <th>Entrance</th>
                </tr>


                {% for row in staff_list %}
                    <tr>
                        <td>{{ row.type|upper }}</td>
                        <td>{{ row.name~" "~row.surname }}</td>
                        <td> {{ row.email }}</td>
                        <td> {{ row.phoneNr }}</td>

                        <td>
                            <a href="{{ path('show_information', {'person': row.id }) }}" class="btn-form btn-sm btn-block btn-primary">Info</a>
                        </td>
                        <td> {{ mb.checkServerRegistration(row.existOnServer,row.id,server_ava) }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Registered Students</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Nr.</th>
                    <th>Actions</th>
                    <th>Entrance</th>
                </tr>


                {% for row in students_list %}
                    <tr>
                        <td>{{ row.name~" "~row.surname }}</td>
                        <td> {{ row.email }}</td>
                        <td> {{ row.phoneNr }}</td>
                        <td>
                            <a href="{{ path('show_information', {'person': row.id }) }}" class="btn-form btn-sm btn-block btn-primary">Info</a>
                        </td>
                        <td> {{ mb.checkServerRegistration(row.existOnServer,row.id,server_ava) }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>


{% endblock %}






