{% extends "@App/default/index.html.twig" %}

{% block stylesheet %}
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/application_form.css') }}" rel="stylesheet">
{% endblock %}


{% block javascript %}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/face_detection_javascript/node_modules/jquery.facedetection/dist/jquery.facedetection.min.js') }}"></script>
    <script type="text/javascript" rel="javascript" src="{{ asset('assets/js/application_form.js') }}"></script>

{% endblock %}


{% block navbar %}
    <li><a href="{{ path('homepage') }}">Home</a></li>
    <li><a href="#">Information</a></li>
    <li class="active"><a href="{{ path('dorm_application') }}">Apply</a></li>
    <li><a href="{{ path('login') }}">Login</a></li>
{% endblock %}


{% block body %}

    <div class="container">

        <div class="navbar col-md-12">
            <h3 class="title-application">Application Form</h3>
        </div>


        <div class="col-md-3">

            <div>
                <div class="list-group">
                    <div class="alert alert-info">
                        <div>
                            <span class="glyphicon glyphicon-alert"></span>
                            Please try to fill all the information necessary
                        </div>
                    </div>
                </div>

                <div class="list-group">
                    <a href="index.html.twig" class="list-group-item active main-color-bg">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Steps
                    </a>

                    <a id="first_part" class="list-group-item active"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Your Information</a>
                    <a id="second_part" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Family Information </a>
                </div>
            </div>

        </div>
        <div class="col-md-1">
        </div>

        <div class="row col-md-8">

            {{ form_start(form) }}


            <div  id="first-part_application-form">

                <h4 class="title-application"> Your Information </h4>

                <div class="space-maker">
                    <img id="img-preview" alt="Profile picture" class="img img-thumbnail profile-img" src="{{ asset('assets/person_images/default.png' ) }}" />
                </div>

                <div id='msg-upload' class="hidden messages alert alert-danger" role="alert">
                </div>

                <div class="form-group">
                    {{ form_row(form.image) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.card_id) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.surname) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.nationality) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.birthday) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.city) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.phoneNumber) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.address) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.department) }}
                </div>

                <hr>
                <div class="space-maker"></div>
                <h4 class="title-application"> Family Information </h4>

                <div class="form-group">
                    {{ form_row(form.fathersName) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.fathersSurname) }}
                </div>


                <div class="form-group">
                    {{ form_row(form.fathersJob) }}
                </div>


                <div class="form-group">
                    {{ form_row(form.fathersPhoneNumber) }}
                </div>


                <div class="form-group">
                    {{ form_row(form.mothersName) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.mothersSurname) }}
                </div>


                <div class="form-group">
                    {{ form_row(form.mothersJob) }}
                </div>


                <div class="form-group">
                    {{ form_row(form.mothersPhoneNumber) }}
                </div>


                <div class="form-group">
                    {{ form_row(form.maritalStatus) }}
                </div>



                <button type="submit" class="btn btn-default btn-block">Apply</button>

            </div>


            {{ form_end(form) }}

        </div>


    </div>

    <div class="space-maker"></div>

{% endblock %}



