
{% extends '@App/tech_pages/index.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('assets/css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}


{% block navbar %}
    <li><a href="{{ path('redirect_pages') }}">Home</a></li>
    <li><a href="{{ path('technical_problems') }}">Tech Problems</a></li>
    <li  class="active"><a href="{{ path('show_profile_tech') }}">Profile</a></li>

{% endblock %}


{% block body %}


    <div class="top-button-group">
        <a href="{{ path('edit_profile_tech') }}" class="button-style btn btn-success top-button"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
    </div>



    <div id='msg-upload' class="hidden messages alert alert-danger" role="alert">
    </div>


    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading main-color-bg">

                <h3 class="panel-title">User profile</h3>

            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
  display:block; margin:auto;"
                                {% if user.image is empty %}
                                    src="{{ asset('assets/person_images/default.png') }}"
                                {% else %}
                                    src="{{ asset('assets/person_images/'~user.image) }}"
                                {% endif %}
                        >
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="only-bottom-margin">{{ user.name~" "~user.surname }}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="text-muted">Username:</span> {{ user.username }}<br><br>
                                <span class="text-muted">Email:</span> {{ user.email }}<br><br>
                                <span class="text-muted">Phone Nr.:</span> {{ user.phoneNr }}<br><br>
                                <span class="text-muted">Birth date:</span>{{ user.birthday|date('Y-m-d') }}<br><br>
                                <span class="text-muted">Nationality:</span>{{ user.nationality }}<br><br>
                                <span class="text-muted">City:</span>{{ user.city }}<br><br>
                                <span class="text-muted">Address:</span>{{ user.address }}<br><br>
                                <span class="text-muted">Department:</span>{{ user.department }}<br><br>
                                {#<small class="text-muted">Created: 0</small>#}
                            </div>

                            {#<div class="col-md-6">#}
                            {#<div class="activity-mini">#}
                            {#<i class="glyphicon glyphicon-comment text-muted"></i> 500#}
                            {#</div>#}
                            {#<div class="activity-mini">#}
                            {#<i class="glyphicon glyphicon-thumbs-up text-muted"></i> 1500#}
                            {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}