{% extends "@App/student_page/index.html.twig" %}


{% block showUser %}

{% endblock %}


{% block navbar %}

    <li><a href="{{ path('redirect_pages') }}">Home</a></li>
    <li><a href="{{ path('view_assistant') }}">Assistants</a></li>
    <li><a href="{{ path('report_problem') }}">Report a problem</a></li>
    <li><a href="{{ path('view_payments') }}">View Payments</a></li>
    <li class="active"><a href="{{ path('report_discipline') }}">Disclipine Report</a></li>
{% endblock %}


{% block body %}

    <div>
        <h3 class="title-application">Problem</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">FORM</h3>
        </div>
    </div>

    {{ form_start(repForm) }}
    {{ form_widget(repForm) }}
    {{ form_end(repForm) }}

{% endblock %}
